<%- include('./header.ejs') %>

    <h1 class="mb-3">Página no encontrada</h1>

    <h2 class="fs-4">Lo sentimos, no pudimos encontrar la ruta seleccionada, vuelve al <a href="/">inicio</a></h2>

    <%- include('./footer.ejs') %>