</main>

<footer class="container-fluid text-center bg-body-tertiary" style="height:70px; line-height: 70px;">&copy;All rights reserved</footer>
<!-- CUSTOM JS -->
<script type="text/javascript" src="/main.js"></script>
<!-- BOOTSTRAP JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>