<%- include('./header.ejs') %>

<h1 class="text-center my-3">Inicia sesión</h1>

<form action="/api/login" method="POST" class="col-6">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="d-grid gap-2 my-4">
        <button class="btn btn-outline-primary" type="submit">Iniciar sesión</button>
    </div>
</form>

<%- include('./footer.ejs') %>