.content{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body > .text-content{
    height: 168px;
    overflow-y: auto !important;
}

.error{
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    color: rgba(255, 0, 0, 0.792);
}